


.container {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: rgb(216, 111, 227);
}

.card {
 
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: rgb(229, 163, 224);
}

.form input {
  margin: 5px;
  padding: 8px;
  width: calc(100% - 16px);
  display: block;
  background-color: rgb(234, 182, 243);
  
}

.form button,
.vehicle-card button,
.booking-card button {
  margin-top: 10px;
  padding: 10px;
  background-color: #cd35e1;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}


.vehicle-card, .booking-card {
  border: 1px solid #e86ae8;
  box-shadow: 10px 10px 20px rgba(231, 89, 231, 0.1);
  border-radius: 6px;
  padding: 10px;
  margin: 10px 0;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}
